$black : #000000;
$blue : #14213D;
$yellow : #FCA311;
$grey : #e5e5e5;
$white :#FFFFFF;

// $black : #222831;
// $blue : #393E46;
// $yellow :#D65A31;
// $grey : #EEEEEE;
// $white :#FFFFFF;

$text1 : "Mukta";
$text2 : cursive;
