.test-page-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.test-button {
    display: block;
    cursor: pointer;
}

.image-preview {
    margin-top: 20px;
}

.preview-image {
    max-width: 100%;
    max-height: 300px;
    margin-top: 10px;
}

.caption {
    margin-top: 20px;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}


.test-page-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    position: relative; /* Ensure the container is relative */
}

.toggle-button {
    position: absolute;
    top: 10px; /* Adjust this value to move the button vertically */
    right: -300px; /* Adjust this value to move the button horizontally */
}
